<div class="container">
  <div class="vote-area">
    <button [ngClass]="{'voted': voteState === 1}">
      <svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"></path></svg>
    </button>
    <span>{{post.votesCount}}</span>
    <button  [ngClass]="{'voted': voteState === -1}">
      <svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"></path></svg>
    </button>
  </div>
  <div class="content-area">
    <div class="text">
      {{post.text}}
    </div>
    <div class="user">
      <a [routerLink]="'/user/'+ post.user.id">
        <div class="name">{{post.user.fullName}} </div>
      </a>
      <div class="date">
        Added:
        <span> {{ post.dateAdded | date }} </span>
      </div>
    </div>
  </div>

</div>
