<div class="title">
  <h1>User: {{user.fullName}}</h1>
</div>

<h2>Questions</h2>

<ng-container *ngFor="let question of questions">
  <div class="post">
    <app-post-list-item
      [title]="question.title"
      [addedDate]="question.dateAdded"
      [postLink]="'/questions/' + question.id"
      [votesCount]="question.votesCount"
    ></app-post-list-item>
  </div>
</ng-container>

<h2>Answers</h2>

<ng-container *ngFor="let answer of answers">
  <div class="post">
    <app-post-list-item
      [title]="answer.question.title"
      [addedDate]="answer.dateAdded"
      [postLink]="'/questions/' + answer.question.id"
      [votesCount]="answer.votesCount"
    ></app-post-list-item>
  </div>
</ng-container>
