<ng-container *ngIf="loadedUser; else loading">

  <div class="title">
    <h1>User: {{user.fullName}}</h1>
  </div>

  <ng-container *ngIf="loadedQuestionsAndAnswers; else loading">

    <h2>Questions</h2>

<ng-container *ngFor="let question of questions">
  <div class="post">
    <app-post-list-item
      [title]="question.title"
      [addedDate]="question.dateAdded"
      [postLink]="'/questions/' + question.id"
      [votesCount]="question.votesCount"
    ></app-post-list-item>
  </div>
</ng-container>

    <h2>Answered</h2>

    <ng-container *ngFor="let answer of answers">
      <div class="post">
        <app-post-list-item
          [addedDate]="answer.dateAdded"
          [postLink]="'/questions/' + answer.question.id"
          [title]="answer.question.title"
          [votesCount]="answer.votesCount"
          [subtitle]="answer.text"
        ></app-post-list-item>
      </div>
    </ng-container>

  </ng-container>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

