<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-container *ngIf="loadedQuestions; else loading">
  <div class="title">
    <h1>{{question.title}}</h1>
  </div>

  <div class="question">
    <app-post [post]="question"></app-post>
  </div>

  <h2>Answers</h2>

  <ng-container *ngIf="loadedAnswers; else loading">
    <ng-container *ngFor="let answer of answers">
      <div class="answer">
        <app-post [post]="answer"></app-post>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="loggedInUser">

    <h2>Your Answer</h2>

    <div class="your-answer">
      <form (submit)="onSubmit()">
    <textarea placeholder="Add your answer here" rows="10"
              [(ngModel)]="newAnswer" name="answer"></textarea>
        <button type="submit" [disabled]="isAnswerEmpty()">Post Your Answer</button>
      </form>
    </div>

  </ng-container>
</ng-container>
